.desktopNavbar {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.desktopNavbar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.desktopNavbar li{
  margin-right: 30px;
}

@media (min-width: 780px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1366px) {
}

@media (min-width: 1650px) {
}
