.skills {
  padding: 20px 50px;
}

.skillsContainer {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}

.skillsContainer > div:first-child {
  flex-grow: 1;
}

.skillsContainer > div:last-child {
  display: none;
}

.skillsContainer h3 {
  font-size: 1.6rem;
}

.skillsContainer h2 {
  font-size: 3rem;
  font-family: "Montez", cursive;
}

.title {
  background-color: var(--red);
  padding: 4px 7px;
  width: 100%;
  font-size: 1.4rem;
}

.skillList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  grid-row-gap: 15px;
  width: 100%;
  padding: 15px 0;
}

.skillsText {
  width: 100%;
  height: 100%;
}

.skillList img {
  height: 50px;
}

@media (max-width: 650px) {
  .skillList {
    grid-template-columns: repeat(3, 160px);
  }
}

@media (min-width: 780px) {
}

@media (min-width: 1024px) {
  .skillsContainer {
    max-width: 900px;
    justify-content: space-between;
  }

  .skillsContainer > div:first-child{
    width: calc(100% - 450px);
  }

  .skillsContainer > div:last-child {
    display: block;
    width: 45%;
  }

  .skillsContainer > div:last-child img {
    width: 100%;
  }

  .skillList img {
    height: 100px;
  }

  .title {
    width: calc(100%);
  }

  .skillList {
    grid-template-columns: repeat(7, 100px);
  }

  .skillList img {
    height: 60px;
  }

  .skills {
    padding: 20px;
  }

  .skillsText {
    width: calc(100%);
  }
}

@media (min-width: 1366px) {
  .skillsContainer {
    max-width: 1150px;
  }
}

@media (min-width: 1650px) {
  .skillsContainer {
    max-width: 1200px;
  }
}
